{% load static %}

<link href="{% static 'drag/node_modules/dragula/example/example.css' %}" rel='stylesheet' type='text/css' />

<form action="./create" method="post">
    {% csrf_token %}
    <label for="sprint">Sprint Name :</label>
    <input id="sprint" type="text" name="sprint" placeholder="ie Bangazon CLI">
    <br>
    <label for="source_repo">Source Repo :</label>
    <input id="source_repo" type="text" name="source_repo" placeholder="https://github.com/camilleryr/bandstagram/">
    <br>
    <label for="username">Github Username :</label>
    <input id="username" type="text" name="username" placeholder="ie email@gmail.com">
    <br>
    <label for="password">Github Password :</label>
    <input id="password" type="password" name="password" placeholder="password">
    <br>
    <input type="submit" value="OK">
</form>

