{% load static %}

<link href="{% static 'node_modules/dragula/example/example.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'node_modules/dragula/dist/dragula.css' %}" rel='stylesheet' type='text/css' />

{% if issues %}
    <div id="left-defaults" class="container"></div>
    <div id="right-defaults" class="container">
        {% for issue in issues %}
            <div class="{{ issue.id }}">{{ issue.title }}</div>
        {% endfor %}
    </div>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static "node_modules/dragula/dist/dragula.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/main.js" %}"></script>
